adal
applicationinsights
azure-common>=1.1.25
azure-core>=1.32.0
azure-graphrbac
azure-identity>=1.14.0
azure-mgmt-authorization>=0.70.0
azure-mgmt-containerregistry
azure-mgmt-core>=1.5.0
azure-mgmt-keyvault
azure-mgmt-resource
azure-mgmt-storage>=19.0.0
azure-storage-queue
azureml-automl-core>=1.9.0
azureml-automl-runtime
azureml-core>=1.1.0  # Ensure compatibility with Azure ML version 1.0.0
azureml-dataprep>=1.10.0
azureml-dataprep-native
azureml-dataprep-rslex
azureml-dataset-runtime>=1.9.0,<2.0.0
azureml-defaults
azureml-inference-server-http
azureml-interpret
azureml-mlflow
azureml-responsibleai
azureml-telemetry
azureml-train-automl
azureml-train-automl-client
azureml-train-automl-runtime
azureml-train-core
azureml-train-restclients-hyperdrive
azureml-training-tabular
# Additional libraries with versions compatible with Python 3.9
backports.tempfile
backports.weakref
bokeh
boto3
cachetools
certifi
cffi
charset-normalizer
click
cloudpickle
colorama
configparser
contextlib2
contextvars
cryptography
Cython
dask>=2023,<2025
dataclasses
dill
distributed
distro
docker
entrypoints
fire
Flask
flatbuffers
fsspec
fusepy
gensim
gitdb
GitPython
google-api-core
google-auth
googleapis-common-protos
gunicorn
HeapDict
idna
immutables
importlib-metadata
inference-schema
interpret-community
interpret-core
isodate
itsdangerous
jeepney
Jinja2
jmespath
joblib
json-logging-py
jsonpickle
JayDeBeApi
keras2onnx
lightgbm
llvmlite
locket
MarkupSafe
mlflow-skinny
msal
msal-extensions
msgpack
msrest
msrestazure
ndg-httpsclient
numba
numpy
onnx
onnxconverter-common
onnxmltools
onnxruntime
opencensus
opencensus-context
opencensus-ext-azure
packaging
pandas
partd
pathspec
patsy
Pillow
pmdarima
portalocker
protobuf
psutil
pyarrow==0.15.1
pyasn1
pyasn1-modules
pycparser
PyJWT
pyOpenSSL
pyparsing
python-dateutil
python-dotenv
pytz
PyYAML
requests
requests-oauthlib
rsa
ruamel.yaml
ruamel.yaml.clib
s3transfer
scikit-learn==1.1.1
scipy>=1.9.3
SecretStorage
shap
shortuuid
six
skl2onnx
sklearn-pandas
slicer
smart-open
smmap
sortedcontainers
statsmodels
tabulate
tblib
termcolor
tenacity
toolz
tornado
tqdm
typing-extensions>=4.6.0
urllib3
waitress
websocket-client
Werkzeug
wrapt
xgboost
zict
zipp
